body {
    background-image: url("public/assets/img/wood_plank_old.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------Body----*/
body{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
}


/*----Jumbotron----*/

/* .jumbotron {
    background-color: rgb(66, 66, 64);
} */

#title {
    font-size: 60px;
    background-color: rgb(66, 66, 64);
}

.lead {
      font-size: 24px;
      background-color: rgb(66, 66, 64);
}

#submit-card {
    background-color: rgb(66, 66, 64);
}

#devour-Card-header {
   background-color: rgb(66, 66, 64);

}

#devoured-Card-header {
    background-color: rgb(66, 66, 64);
 
 }

 .footer-body {
   background-color: rgb(66, 66, 64);


 }

 .devoured-card .footer {
     border-style: solid;
     border-color:  rgb(66, 66, 64);
 }